* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(180deg, #293855 0%, #000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DotGothic16', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #F8F6EF 23.87%, #293855 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
}

.nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}

.itemBox {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.icon,
.about-icon {
    cursor: pointer;
    height: 44px;
}

.icon:hover,
.about-icon:hover {
    background-color: #C0AE67;
    border-radius: 2px;
    transition: .2s linear;
}

.icon:hover path,
.about-icon:hover path {
    fill: #293855;
}

.big-box {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: space-around;
}

#bg {
    position: fixed;
    z-index: -1;
    animation: slideIn 2s ease-in-out;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.info-left {
    width: 70%;
    height: calc(100vh - 100px);
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.building {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.building-list {
    list-style: none;
}

.building-list p {
    width: 100%;
    font-size: 26px;
    color: #f8f6ef;    
    animation: slideIn 2s ease-in-out;
    overflow: hidden;

}

.choose-btn {
    width: 64px;
    height: 64px;
    background-color: #f8f6ef;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    left: 5%;
    border-radius: 3px;
    transition: 1s linear;
}

.choose-btn.hidden {
    opacity: 0;
    transition: 1s linear;
}

.hvr-icon-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-icon-float .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-float:hover .hvr-icon, .hvr-icon-float:focus .hvr-icon, .hvr-icon-float:active .hvr-icon {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

.info-right {
    width: 400px;
    height: 662px;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: slideIn 2s ease-in-out;
}

.right-title {
    /* height: 70px; */
    font-size: 40px;
    color: #f8f6ef;
    display: flex;
}

.right-content {
    overflow-y: scroll;
    font-size: 24px;
    color: #f8f6ef;
    margin-top: 10%;
}


.jump-menu {
    width: 90%;
    height: 288px;
    position: fixed;
    bottom: 5%;
    background-color: rgba(248, 246, 239, 0.90);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 3px;
    opacity: 1;
    transition: 1s cubic-bezier(0.13, -0.51, 1, 1);
}

.jump-menu.hidden {
    opacity: 0;
    height: 0;
    transition: 1s cubic-bezier(0.13, -0.51, 1, 1);
}

.close-menu {
    width: 100%;
    height: 48px;
    background-color: rgba(248, 246, 239, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
    /* padding-left: 20px; */
}

.close-menu-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .close-menu-btn .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .close-menu-btn:hover .hvr-icon, .close-menu-btn:focus .hvr-icon, .close-menu-btn:active .hvr-icon {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

.menu-btn-box {
    width: 100%;
    height: calc(100% - 48px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 20px;
}

.menu-btn {
    width: calc(20% - 20px);
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: solid 3px #293855;
    cursor: pointer;
}

.menu-btn:hover {
    color: #C0AE67;
    border-bottom: solid 3px #C0AE67;
    background-color: #293855;
}

.menu-btn.light {
    color: #C0AE67;
    border-bottom: solid 3px #C0AE67;
    background-color: #293855;
}

#ham-menu-switch:checked~.menu-btn {
    display: block;
}

@media(max-width:1220px) {

    .info-left {
        width: 70%;
        height: 50vh;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .building {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: 0;

    }

    .building-list p {
        font-size: 20px;
        color: #f8f6ef;
    }


    .info-right {
        width: 350px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right-title {
        margin-left: 20px;
        font-size: 30px;
        color: #f8f6ef;
    }

    .right-content {
        padding: 20px;
        overflow-y: scroll;
        font-size: 20px;
        color: #f8f6ef;
        border-radius: 5px;
        backdrop-filter: blur(5px);
        background: linear-gradient(180deg, rgba(24, 32, 49, 0.00) 34.77%, #030405 99.89%);
        margin-top: 2%;
    }
    .menu-btn:hover {
        color: 0;
        border-bottom: 0;
        background-color: 0;
    }
}

@media(max-width: 932px) {
    .nav {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 5;
    }
    .big-box {
        width: 100%;
        height: calc(100% - 70px);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .icon, .about-icon {
        width: 30px;
        height: 30px;
    }

    .icon svg {
        width: 30px;
        height: 30px;
    }

    .about-icon svg {
        width: 30px;
        height: 30px;
    }

    .info-right {
        width: 275px;
        height: 275px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right-title {
        font-size: 24px;
        color: #f8f6ef;
    }

    .right-content {
        font-size: 18px;
        color: #f8f6ef;
        border-radius: 5px;
        backdrop-filter: blur(5px);
        background: linear-gradient(180deg, rgba(24, 32, 49, 0.00) 34.77%, #030405 99.89%);
        margin-top: 2%;
    }

    .menu-btn {
        width: calc(50% - 20px);
        font-size: 15px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: solid 3px #293855;
    }

    .jump-menu {
        width: 90%;
        height: 70vh;
        position: fixed;
        bottom: 5%;
        background-color: rgba(248, 246, 239, 0.90);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 3px;
        opacity: 1;
        transition: 1s cubic-bezier(0.13, -0.51, 1, 1);
    }
    .menu-btn-box {
        width: 100%;
        height: calc(100% - 48px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 20px;
    }
    
    .menu-btn {
        width: calc(30% - 20px);
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: solid 3px #293855;
    }
}

@media(max-width:667px) {
    .nav {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 5;
    }


    .big-box {
        width: 100%;
        height: calc(100% - 50px);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .info {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .info-left {
        width: 70%;
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .building {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: 0;

    }

    .building-list {
        list-style: none;
    }

    .building-list p {
        margin: 0;
        font-size: 12px;
        color: #f8f6ef;
    }

    .info-right {
        width: 200px;
        height: 140px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right-title {
        font-size: 14px;
        color: #f8f6ef;
        line-height: 20px;
        margin-left: 0;
    }

    .right-content {
        padding: 0;
        font-size: 12px;
        color: #f8f6ef;
        line-height: 20px;
        margin: 0;
        backdrop-filter: 0;
        background: 0;
        margin-top: 0%;
    }

    .menu-btn {
        width: calc(50% - 20px);
        font-size: 15px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: solid 3px #293855;
    }

    .jump-menu {
        width: 90%;
        height: 75vh;
        position: fixed;
        bottom: 5%;
        background-color: rgba(248, 246, 239, 0.90);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 3px;
        opacity: 1;
        transition: 1s cubic-bezier(0.13, -0.51, 1, 1);
    }
    .menu-btn-box {
        width: 100%;
        height: calc(100% - 48px);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 20px;
    }
    
    .menu-btn {
        width: calc(30% - 20px);
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: solid 3px #293855;
    }

    .choose-btn {
        width: 35px;
        height: 35px;
        background-color: #f8f6ef;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 5%;
        left: 5%;
        border-radius: 3px;
        transition: 1s linear;
    }

    .choose-btn svg {
        width: 20px;
        height: 20px;
    }

}

@media(max-width:450px) {
    .nav {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 5;
    }

    .big-box {
        width: 100%;
        height: calc(100% - 60px);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-end;
        gap: 5%
    }

    .info-left {
        width: 70%;
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .building {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: 0;

    }

    .building-list {
        list-style: none;
    }

    .building-list p {
        margin: 0;
        font-size: 12px;
        color: #f8f6ef;
    }

    .info-right {
        width: 100%;
        height: 130px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right-title {
        font-size: 14px;
        color: #f8f6ef;
        line-height: 20px;
        margin-left: 0;
    }

    .right-content {
        width: 100%;
        padding: 0;
        font-size: 12px;
        color: #f8f6ef;
        line-height: 20px;
        margin: 0;
        backdrop-filter: 0;
        background: 0;
        margin-top: 3%;
    }

    .menu-btn {
        width: calc(50% - 20px);
        font-size: 15px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: solid 3px #293855;
    }

    .jump-menu {
        width: 90%;
        height: 60vh;
        position: fixed;
        bottom: 5%;
        background-color: rgba(248, 246, 239, 0.90);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 3px;
        opacity: 1;
        transition: 1s cubic-bezier(0.13, -0.51, 1, 1);
    }

    .choose-btn {
        width: 50px;
        height: 50px;
        background-color: #f8f6ef;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 5%;
        left: 5%;
        border-radius: 3px;
        transition: 1s linear;
    }

    .choose-btn svg {
        width: 30px;
        height: 30px;
    }

}