* {
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
}

.all {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    background: rgb(41, 57, 85);
    background: linear-gradient(180deg, rgba(41, 57, 85, 1) 35%, rgba(255, 255, 255, 1) 100%);
}

nav {
    width: 100%;
    height: 90px;

}

.section-1 {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.jumpToBtn {
    width: 100%;
    height: 100%;
    flex: 1;
    background: rgb(41, 57, 85);
    background: linear-gradient(180deg, rgba(41, 57, 85, 0) 0%, rgba(255, 255, 255, 1) 55%);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#bg-1, #bg-2 {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 120px;
}

.jumpToBtn a {
    text-decoration: none;
}

.jumpToBtn p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    border-bottom: dashed 3px #c2ae67;
    color: #293955;
    font-size: 22px;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}