* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
}

.all {
    position: relative;
}

.container p {
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: 'DotGothic16', sans-serif;
    font-size: 100px;
}